<div id="deleteModal-{{ flavour }}" class="modal fade" tabindex="-1" role="dialog" rel="deleteModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ (flavour ~ ".modal.title")|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ "close"|trans }}"></button>
      </div>
      <div class="modal-body">
        <p>{{ (flavour ~ ".modal.text")|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "cancel"|trans }}</button>
        <a href="#" type="button" class="btn btn-primary" id="deleteModal-{{ flavour }}-cta">{{ "yes"|trans }}</a>
      </div>
    </div>
  </div>
</div>