{% extends 'base.html.twig' %}
{% set menu = 'resources' %}

{% block body %}

<a href="{{ path('calendars', {username: username}) }}" class="btn btn-link">« {{ "calendars.back"|trans({'user': principal.displayName }) }}</a>

{% if calendar.id %}
<h1 class="display-4 mb-5">{{ "calendars.edit"|trans({'name': calendar.displayName }) }}</h1>
{% else %}
<h1 class="display-4 mb-5">{{ "calendars.new"|trans }} <small class="text-muted">for {{ principal.displayName }}</small></h1>
{% endif %}

{{ form(form) }}

{% endblock %}