{% extends 'base.html.twig' %}
{% set menu = 'resources' %}

{% block body %}

<a href="{{ path('address_books', {username: username}) }}" class="btn btn-link">« {{ "addressbooks.back"|trans({'user': principal.displayName }) }}</a>

{% if addressbook.id %}
<h1 class="display-4 mb-5">{{ "addressbooks.edit"|trans({'name': addressbook.displayName }) }}</h1>
{% else %}
<h1 class="display-4 mb-5">{{ "addressbooks.new"|trans }} <small class="text-muted">for {{ principal.displayName }}</small></h1>
{% endif %}

{{ form(form) }}

{% endblock %}