{% extends 'base.html.twig' %}
{% set menu = 'resources' %}

{% block body %}

<h1 class="display-4 d-flex justify-content-between">Users<a href="{{ path('user_create') }}" class="btn btn-success mb-auto mt-auto">+ New user</a></h1>

<div class="list-group mt-5">
{% for principal in principals %}
    <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 mr-auto">{{ principal.displayName }} <a href="mailto:{{ principal.email }}">&lsaquo;{{ principal.email }}&rsaquo;</a></h5>

            <a href="{{ path('calendars',{username: principal.username}) }}" class="btn btn-light">🗓 Calendars</a>
            <a href="{{ path('address_books',{username: principal.username})}}" class="btn btn-light ml-1">📖 Address books</a>
            <a href="{{ path('user_edit',{username: principal.username})}}" class="btn btn-primary ml-1">✎ Edit</a>
            <a href="{{ path('user_delete',{username: principal.username})}}" class="btn btn-danger ml-1">⚠ Delete</a>
        </div>
        <p class="mb-1">Username : <code>{{ principal.username }}</code></p>
        <small>Principal URI : <code>{{ principal.uri }}</code></small>
    </div>
{% endfor %}
</div>

{% endblock %}